.headerList {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.link {
  appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.6em;
  color: red;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin-bottom: 20px;
  padding: 8px 14px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.isActive {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:focus {
    box-shadow: 0 0 40px 40px red inset;
  }
}
